<style>
  .md-content__button {
    display: none;
  }
</style>
# {{ table | replace("_", " ") | replace("Ma Pair", "Behaviour") }} Fields

{% if asset %}
**For a more condensed summary this information is available in [table view](/tables/{{ table  | lower | replace(" ", "_")}}/)**
{% endif %}


The specification for {{ table | replace("_", " ") | replace("Ma Pair", "Behaviour") }}
has these fields:

{% for key, value in fields.items() if not value.hide -%}

`{{ key }}`{ #{{ key | lower | replace(" ", "-") | replace("*", "") }} }

:   **{{ "Required" if key in required else "Optional" }}**-*{{ "enum [" ~ value.enum | join(", ") ~ "]" if "enum" in value else value.type }}{{ "[]" if value.format == "ARRAY" else "" }}*<br>
    {{ (value.description | indent(4, False)) if value.description is defined else ""}}

{% if "example" in value %}
    === "Example"
        ``` yaml     
        {{ value.example | string | indent(8, False) }}
        ```

{% endif %}

{%- endfor %}