{"swagger":"2.0","info":{"version":"8.0.0","title":"PostgREST API","description":"standard public schema"},"host":"dbs-api.emgora.eu:443","basePath":"/v1/emgamr/api/","schemes":["https"],"consumes":["application/json","application/vnd.pgrst.object+json","text/csv"],"produces":["application/json","application/vnd.pgrst.object+json","text/csv"],"paths":{"/":{"get":{"tags":["Introspection"],"summary":"OpenAPI description (this document)","produces":["application/openapi+json","application/json"],"responses":{"200":{"description":"OK"}}}},"/algorithm":{"get":{"tags":["algorithm"],"parameters":[{"$ref":"#/parameters/rowFilter.algorithm.id"},{"$ref":"#/parameters/rowFilter.algorithm.author"},{"$ref":"#/parameters/rowFilter.algorithm.provider"},{"$ref":"#/parameters/rowFilter.algorithm.build"},{"$ref":"#/parameters/rowFilter.algorithm.date"},{"$ref":"#/parameters/rowFilter.algorithm.name"},{"$ref":"#/parameters/rowFilter.algorithm.description"},{"$ref":"#/parameters/rowFilter.algorithm.classification_schema"},{"$ref":"#/parameters/rowFilter.algorithm.type"},{"$ref":"#/parameters/rowFilter.algorithm.version"},{"$ref":"#/parameters/rowFilter.algorithm.list_of_microservices"},{"$ref":"#/parameters/rowFilter.algorithm.deployment_mapping"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"206":{"description":"Partial Content"},"200":{"schema":{"items":{"$ref":"#/definitions/algorithm"},"type":"array"},"description":"OK"}}},"post":{"tags":["algorithm"],"parameters":[{"$ref":"#/parameters/body.algorithm"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferReturn"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["algorithm"],"parameters":[{"$ref":"#/parameters/rowFilter.algorithm.id"},{"$ref":"#/parameters/rowFilter.algorithm.author"},{"$ref":"#/parameters/rowFilter.algorithm.provider"},{"$ref":"#/parameters/rowFilter.algorithm.build"},{"$ref":"#/parameters/rowFilter.algorithm.date"},{"$ref":"#/parameters/rowFilter.algorithm.name"},{"$ref":"#/parameters/rowFilter.algorithm.description"},{"$ref":"#/parameters/rowFilter.algorithm.classification_schema"},{"$ref":"#/parameters/rowFilter.algorithm.type"},{"$ref":"#/parameters/rowFilter.algorithm.version"},{"$ref":"#/parameters/rowFilter.algorithm.list_of_microservices"},{"$ref":"#/parameters/rowFilter.algorithm.deployment_mapping"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["algorithm"],"parameters":[{"$ref":"#/parameters/rowFilter.algorithm.id"},{"$ref":"#/parameters/rowFilter.algorithm.author"},{"$ref":"#/parameters/rowFilter.algorithm.provider"},{"$ref":"#/parameters/rowFilter.algorithm.build"},{"$ref":"#/parameters/rowFilter.algorithm.date"},{"$ref":"#/parameters/rowFilter.algorithm.name"},{"$ref":"#/parameters/rowFilter.algorithm.description"},{"$ref":"#/parameters/rowFilter.algorithm.classification_schema"},{"$ref":"#/parameters/rowFilter.algorithm.type"},{"$ref":"#/parameters/rowFilter.algorithm.version"},{"$ref":"#/parameters/rowFilter.algorithm.list_of_microservices"},{"$ref":"#/parameters/rowFilter.algorithm.deployment_mapping"},{"$ref":"#/parameters/body.algorithm"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/asset":{"get":{"tags":["asset"],"parameters":[{"$ref":"#/parameters/rowFilter.asset.table_name"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"206":{"description":"Partial Content"},"200":{"schema":{"items":{"$ref":"#/definitions/asset"},"type":"array"},"description":"OK"}}}},"/asset_schema":{"get":{"tags":["asset_schema"],"parameters":[{"$ref":"#/parameters/rowFilter.asset_schema.table_catalog"},{"$ref":"#/parameters/rowFilter.asset_schema.table_schema"},{"$ref":"#/parameters/rowFilter.asset_schema.table_name"},{"$ref":"#/parameters/rowFilter.asset_schema.column_name"},{"$ref":"#/parameters/rowFilter.asset_schema.ordinal_position"},{"$ref":"#/parameters/rowFilter.asset_schema.column_default"},{"$ref":"#/parameters/rowFilter.asset_schema.is_nullable"},{"$ref":"#/parameters/rowFilter.asset_schema.data_type"},{"$ref":"#/parameters/rowFilter.asset_schema.character_maximum_length"},{"$ref":"#/parameters/rowFilter.asset_schema.character_octet_length"},{"$ref":"#/parameters/rowFilter.asset_schema.numeric_precision"},{"$ref":"#/parameters/rowFilter.asset_schema.numeric_precision_radix"},{"$ref":"#/parameters/rowFilter.asset_schema.numeric_scale"},{"$ref":"#/parameters/rowFilter.asset_schema.datetime_precision"},{"$ref":"#/parameters/rowFilter.asset_schema.interval_type"},{"$ref":"#/parameters/rowFilter.asset_schema.interval_precision"},{"$ref":"#/parameters/rowFilter.asset_schema.character_set_catalog"},{"$ref":"#/parameters/rowFilter.asset_schema.character_set_schema"},{"$ref":"#/parameters/rowFilter.asset_schema.character_set_name"},{"$ref":"#/parameters/rowFilter.asset_schema.collation_catalog"},{"$ref":"#/parameters/rowFilter.asset_schema.collation_schema"},{"$ref":"#/parameters/rowFilter.asset_schema.collation_name"},{"$ref":"#/parameters/rowFilter.asset_schema.domain_catalog"},{"$ref":"#/parameters/rowFilter.asset_schema.domain_schema"},{"$ref":"#/parameters/rowFilter.asset_schema.domain_name"},{"$ref":"#/parameters/rowFilter.asset_schema.udt_catalog"},{"$ref":"#/parameters/rowFilter.asset_schema.udt_schema"},{"$ref":"#/parameters/rowFilter.asset_schema.udt_name"},{"$ref":"#/parameters/rowFilter.asset_schema.scope_catalog"},{"$ref":"#/parameters/rowFilter.asset_schema.scope_schema"},{"$ref":"#/parameters/rowFilter.asset_schema.scope_name"},{"$ref":"#/parameters/rowFilter.asset_schema.maximum_cardinality"},{"$ref":"#/parameters/rowFilter.asset_schema.dtd_identifier"},{"$ref":"#/parameters/rowFilter.asset_schema.is_self_referencing"},{"$ref":"#/parameters/rowFilter.asset_schema.is_identity"},{"$ref":"#/parameters/rowFilter.asset_schema.identity_generation"},{"$ref":"#/parameters/rowFilter.asset_schema.identity_start"},{"$ref":"#/parameters/rowFilter.asset_schema.identity_increment"},{"$ref":"#/parameters/rowFilter.asset_schema.identity_maximum"},{"$ref":"#/parameters/rowFilter.asset_schema.identity_minimum"},{"$ref":"#/parameters/rowFilter.asset_schema.identity_cycle"},{"$ref":"#/parameters/rowFilter.asset_schema.is_generated"},{"$ref":"#/parameters/rowFilter.asset_schema.generation_expression"},{"$ref":"#/parameters/rowFilter.asset_schema.is_updatable"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"206":{"description":"Partial Content"},"200":{"schema":{"items":{"$ref":"#/definitions/asset_schema"},"type":"array"},"description":"OK"}}}},"/asset_schema_beta":{"get":{"tags":["asset_schema_beta"],"parameters":[{"$ref":"#/parameters/rowFilter.asset_schema_beta.table_name"},{"$ref":"#/parameters/rowFilter.asset_schema_beta.column_name"},{"$ref":"#/parameters/rowFilter.asset_schema_beta.description"},{"$ref":"#/parameters/rowFilter.asset_schema_beta.is_nullable"},{"$ref":"#/parameters/rowFilter.asset_schema_beta.data_type"},{"$ref":"#/parameters/rowFilter.asset_schema_beta.enum_name"},{"$ref":"#/parameters/rowFilter.asset_schema_beta.enum_values"},{"$ref":"#/parameters/rowFilter.asset_schema_beta.udt_name"},{"$ref":"#/parameters/rowFilter.asset_schema_beta.udt_field_name"},{"$ref":"#/parameters/rowFilter.asset_schema_beta.udt_field_data_type"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"206":{"description":"Partial Content"},"200":{"schema":{"items":{"$ref":"#/definitions/asset_schema_beta"},"type":"array"},"description":"OK"}}}},"/data":{"get":{"tags":["data"],"parameters":[{"$ref":"#/parameters/rowFilter.data.id"},{"$ref":"#/parameters/rowFilter.data.author"},{"$ref":"#/parameters/rowFilter.data.provider"},{"$ref":"#/parameters/rowFilter.data.build"},{"$ref":"#/parameters/rowFilter.data.date"},{"$ref":"#/parameters/rowFilter.data.name"},{"$ref":"#/parameters/rowFilter.data.version"},{"$ref":"#/parameters/rowFilter.data.description"},{"$ref":"#/parameters/rowFilter.data.description_url"},{"$ref":"#/parameters/rowFilter.data.size"},{"$ref":"#/parameters/rowFilter.data.tags"},{"$ref":"#/parameters/rowFilter.data.kind"},{"$ref":"#/parameters/rowFilter.data.direction"},{"$ref":"#/parameters/rowFilter.data.format"},{"$ref":"#/parameters/rowFilter.data.type"},{"$ref":"#/parameters/rowFilter.data.uri"},{"$ref":"#/parameters/rowFilter.data.auth_type"},{"$ref":"#/parameters/rowFilter.data.credentials"},{"$ref":"#/parameters/rowFilter.data.aux_info"},{"$ref":"#/parameters/rowFilter.data.schema"},{"$ref":"#/parameters/rowFilter.data.schema_url"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"206":{"description":"Partial Content"},"200":{"schema":{"items":{"$ref":"#/definitions/data"},"type":"array"},"description":"OK"}}},"post":{"tags":["data"],"parameters":[{"$ref":"#/parameters/body.data"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferReturn"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["data"],"parameters":[{"$ref":"#/parameters/rowFilter.data.id"},{"$ref":"#/parameters/rowFilter.data.author"},{"$ref":"#/parameters/rowFilter.data.provider"},{"$ref":"#/parameters/rowFilter.data.build"},{"$ref":"#/parameters/rowFilter.data.date"},{"$ref":"#/parameters/rowFilter.data.name"},{"$ref":"#/parameters/rowFilter.data.version"},{"$ref":"#/parameters/rowFilter.data.description"},{"$ref":"#/parameters/rowFilter.data.description_url"},{"$ref":"#/parameters/rowFilter.data.size"},{"$ref":"#/parameters/rowFilter.data.tags"},{"$ref":"#/parameters/rowFilter.data.kind"},{"$ref":"#/parameters/rowFilter.data.direction"},{"$ref":"#/parameters/rowFilter.data.format"},{"$ref":"#/parameters/rowFilter.data.type"},{"$ref":"#/parameters/rowFilter.data.uri"},{"$ref":"#/parameters/rowFilter.data.auth_type"},{"$ref":"#/parameters/rowFilter.data.credentials"},{"$ref":"#/parameters/rowFilter.data.aux_info"},{"$ref":"#/parameters/rowFilter.data.schema"},{"$ref":"#/parameters/rowFilter.data.schema_url"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["data"],"parameters":[{"$ref":"#/parameters/rowFilter.data.id"},{"$ref":"#/parameters/rowFilter.data.author"},{"$ref":"#/parameters/rowFilter.data.provider"},{"$ref":"#/parameters/rowFilter.data.build"},{"$ref":"#/parameters/rowFilter.data.date"},{"$ref":"#/parameters/rowFilter.data.name"},{"$ref":"#/parameters/rowFilter.data.version"},{"$ref":"#/parameters/rowFilter.data.description"},{"$ref":"#/parameters/rowFilter.data.description_url"},{"$ref":"#/parameters/rowFilter.data.size"},{"$ref":"#/parameters/rowFilter.data.tags"},{"$ref":"#/parameters/rowFilter.data.kind"},{"$ref":"#/parameters/rowFilter.data.direction"},{"$ref":"#/parameters/rowFilter.data.format"},{"$ref":"#/parameters/rowFilter.data.type"},{"$ref":"#/parameters/rowFilter.data.uri"},{"$ref":"#/parameters/rowFilter.data.auth_type"},{"$ref":"#/parameters/rowFilter.data.credentials"},{"$ref":"#/parameters/rowFilter.data.aux_info"},{"$ref":"#/parameters/rowFilter.data.schema"},{"$ref":"#/parameters/rowFilter.data.schema_url"},{"$ref":"#/parameters/body.data"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/distinct_udt_list":{"get":{"tags":["distinct_udt_list"],"parameters":[{"$ref":"#/parameters/rowFilter.distinct_udt_list.udt_name"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"206":{"description":"Partial Content"},"200":{"schema":{"items":{"$ref":"#/definitions/distinct_udt_list"},"type":"array"},"description":"OK"}}}},"/enum_list":{"get":{"tags":["enum_list"],"parameters":[{"$ref":"#/parameters/rowFilter.enum_list.enum_name"},{"$ref":"#/parameters/rowFilter.enum_list.enum_values"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"206":{"description":"Partial Content"},"200":{"schema":{"items":{"$ref":"#/definitions/enum_list"},"type":"array"},"description":"OK"}}}},"/ip_family":{"get":{"tags":["ip_family"],"parameters":[{"$ref":"#/parameters/rowFilter.ip_family.id"},{"$ref":"#/parameters/rowFilter.ip_family.created_at"},{"$ref":"#/parameters/rowFilter.ip_family.version"},{"$ref":"#/parameters/rowFilter.ip_family.author"},{"$ref":"#/parameters/rowFilter.ip_family.manager"},{"$ref":"#/parameters/rowFilter.ip_family.name"},{"$ref":"#/parameters/rowFilter.ip_family.image"},{"$ref":"#/parameters/rowFilter.ip_family.model_no"},{"$ref":"#/parameters/rowFilter.ip_family.description"},{"$ref":"#/parameters/rowFilter.ip_family.capacity"},{"$ref":"#/parameters/rowFilter.ip_family.ip_man"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"206":{"description":"Partial Content"},"200":{"schema":{"items":{"$ref":"#/definitions/ip_family"},"type":"array"},"description":"OK"}}},"post":{"tags":["ip_family"],"parameters":[{"$ref":"#/parameters/body.ip_family"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferReturn"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["ip_family"],"parameters":[{"$ref":"#/parameters/rowFilter.ip_family.id"},{"$ref":"#/parameters/rowFilter.ip_family.created_at"},{"$ref":"#/parameters/rowFilter.ip_family.version"},{"$ref":"#/parameters/rowFilter.ip_family.author"},{"$ref":"#/parameters/rowFilter.ip_family.manager"},{"$ref":"#/parameters/rowFilter.ip_family.name"},{"$ref":"#/parameters/rowFilter.ip_family.image"},{"$ref":"#/parameters/rowFilter.ip_family.model_no"},{"$ref":"#/parameters/rowFilter.ip_family.description"},{"$ref":"#/parameters/rowFilter.ip_family.capacity"},{"$ref":"#/parameters/rowFilter.ip_family.ip_man"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["ip_family"],"parameters":[{"$ref":"#/parameters/rowFilter.ip_family.id"},{"$ref":"#/parameters/rowFilter.ip_family.created_at"},{"$ref":"#/parameters/rowFilter.ip_family.version"},{"$ref":"#/parameters/rowFilter.ip_family.author"},{"$ref":"#/parameters/rowFilter.ip_family.manager"},{"$ref":"#/parameters/rowFilter.ip_family.name"},{"$ref":"#/parameters/rowFilter.ip_family.image"},{"$ref":"#/parameters/rowFilter.ip_family.model_no"},{"$ref":"#/parameters/rowFilter.ip_family.description"},{"$ref":"#/parameters/rowFilter.ip_family.capacity"},{"$ref":"#/parameters/rowFilter.ip_family.ip_man"},{"$ref":"#/parameters/body.ip_family"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/ip_instance":{"get":{"tags":["ip_instance"],"parameters":[{"$ref":"#/parameters/rowFilter.ip_instance.id"},{"$ref":"#/parameters/rowFilter.ip_instance.created_at"},{"$ref":"#/parameters/rowFilter.ip_instance.version"},{"$ref":"#/parameters/rowFilter.ip_instance.author"},{"$ref":"#/parameters/rowFilter.ip_instance.operator"},{"$ref":"#/parameters/rowFilter.ip_instance.ip_family"},{"$ref":"#/parameters/rowFilter.ip_instance.name"},{"$ref":"#/parameters/rowFilter.ip_instance.image"},{"$ref":"#/parameters/rowFilter.ip_instance.serial_no"},{"$ref":"#/parameters/rowFilter.ip_instance.description"},{"$ref":"#/parameters/rowFilter.ip_instance.location"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"206":{"description":"Partial Content"},"200":{"schema":{"items":{"$ref":"#/definitions/ip_instance"},"type":"array"},"description":"OK"}}},"post":{"tags":["ip_instance"],"parameters":[{"$ref":"#/parameters/body.ip_instance"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferReturn"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["ip_instance"],"parameters":[{"$ref":"#/parameters/rowFilter.ip_instance.id"},{"$ref":"#/parameters/rowFilter.ip_instance.created_at"},{"$ref":"#/parameters/rowFilter.ip_instance.version"},{"$ref":"#/parameters/rowFilter.ip_instance.author"},{"$ref":"#/parameters/rowFilter.ip_instance.operator"},{"$ref":"#/parameters/rowFilter.ip_instance.ip_family"},{"$ref":"#/parameters/rowFilter.ip_instance.name"},{"$ref":"#/parameters/rowFilter.ip_instance.image"},{"$ref":"#/parameters/rowFilter.ip_instance.serial_no"},{"$ref":"#/parameters/rowFilter.ip_instance.description"},{"$ref":"#/parameters/rowFilter.ip_instance.location"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["ip_instance"],"parameters":[{"$ref":"#/parameters/rowFilter.ip_instance.id"},{"$ref":"#/parameters/rowFilter.ip_instance.created_at"},{"$ref":"#/parameters/rowFilter.ip_instance.version"},{"$ref":"#/parameters/rowFilter.ip_instance.author"},{"$ref":"#/parameters/rowFilter.ip_instance.operator"},{"$ref":"#/parameters/rowFilter.ip_instance.ip_family"},{"$ref":"#/parameters/rowFilter.ip_instance.name"},{"$ref":"#/parameters/rowFilter.ip_instance.image"},{"$ref":"#/parameters/rowFilter.ip_instance.serial_no"},{"$ref":"#/parameters/rowFilter.ip_instance.description"},{"$ref":"#/parameters/rowFilter.ip_instance.location"},{"$ref":"#/parameters/body.ip_instance"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/ma_pair":{"get":{"tags":["ma_pair"],"parameters":[{"$ref":"#/parameters/rowFilter.ma_pair.id"},{"$ref":"#/parameters/rowFilter.ma_pair.author"},{"$ref":"#/parameters/rowFilter.ma_pair.provider"},{"$ref":"#/parameters/rowFilter.ma_pair.build"},{"$ref":"#/parameters/rowFilter.ma_pair.date"},{"$ref":"#/parameters/rowFilter.ma_pair.version"},{"$ref":"#/parameters/rowFilter.ma_pair.licensor"},{"$ref":"#/parameters/rowFilter.ma_pair.derivation"},{"$ref":"#/parameters/rowFilter.ma_pair.name"},{"$ref":"#/parameters/rowFilter.ma_pair.scope"},{"$ref":"#/parameters/rowFilter.ma_pair.ip_family"},{"$ref":"#/parameters/rowFilter.ma_pair.namespace"},{"$ref":"#/parameters/rowFilter.ma_pair.m_asset"},{"$ref":"#/parameters/rowFilter.ma_pair.a_asset"},{"$ref":"#/parameters/rowFilter.ma_pair.rules"},{"$ref":"#/parameters/rowFilter.ma_pair.frequency"},{"$ref":"#/parameters/rowFilter.ma_pair.payload"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"206":{"description":"Partial Content"},"200":{"schema":{"items":{"$ref":"#/definitions/ma_pair"},"type":"array"},"description":"OK"}}},"post":{"tags":["ma_pair"],"parameters":[{"$ref":"#/parameters/body.ma_pair"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferReturn"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["ma_pair"],"parameters":[{"$ref":"#/parameters/rowFilter.ma_pair.id"},{"$ref":"#/parameters/rowFilter.ma_pair.author"},{"$ref":"#/parameters/rowFilter.ma_pair.provider"},{"$ref":"#/parameters/rowFilter.ma_pair.build"},{"$ref":"#/parameters/rowFilter.ma_pair.date"},{"$ref":"#/parameters/rowFilter.ma_pair.version"},{"$ref":"#/parameters/rowFilter.ma_pair.licensor"},{"$ref":"#/parameters/rowFilter.ma_pair.derivation"},{"$ref":"#/parameters/rowFilter.ma_pair.name"},{"$ref":"#/parameters/rowFilter.ma_pair.scope"},{"$ref":"#/parameters/rowFilter.ma_pair.ip_family"},{"$ref":"#/parameters/rowFilter.ma_pair.namespace"},{"$ref":"#/parameters/rowFilter.ma_pair.m_asset"},{"$ref":"#/parameters/rowFilter.ma_pair.a_asset"},{"$ref":"#/parameters/rowFilter.ma_pair.rules"},{"$ref":"#/parameters/rowFilter.ma_pair.frequency"},{"$ref":"#/parameters/rowFilter.ma_pair.payload"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["ma_pair"],"parameters":[{"$ref":"#/parameters/rowFilter.ma_pair.id"},{"$ref":"#/parameters/rowFilter.ma_pair.author"},{"$ref":"#/parameters/rowFilter.ma_pair.provider"},{"$ref":"#/parameters/rowFilter.ma_pair.build"},{"$ref":"#/parameters/rowFilter.ma_pair.date"},{"$ref":"#/parameters/rowFilter.ma_pair.version"},{"$ref":"#/parameters/rowFilter.ma_pair.licensor"},{"$ref":"#/parameters/rowFilter.ma_pair.derivation"},{"$ref":"#/parameters/rowFilter.ma_pair.name"},{"$ref":"#/parameters/rowFilter.ma_pair.scope"},{"$ref":"#/parameters/rowFilter.ma_pair.ip_family"},{"$ref":"#/parameters/rowFilter.ma_pair.namespace"},{"$ref":"#/parameters/rowFilter.ma_pair.m_asset"},{"$ref":"#/parameters/rowFilter.ma_pair.a_asset"},{"$ref":"#/parameters/rowFilter.ma_pair.rules"},{"$ref":"#/parameters/rowFilter.ma_pair.frequency"},{"$ref":"#/parameters/rowFilter.ma_pair.payload"},{"$ref":"#/parameters/body.ma_pair"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/microservice":{"get":{"tags":["microservice"],"parameters":[{"$ref":"#/parameters/rowFilter.microservice.id"},{"$ref":"#/parameters/rowFilter.microservice.author"},{"$ref":"#/parameters/rowFilter.microservice.provider"},{"$ref":"#/parameters/rowFilter.microservice.build"},{"$ref":"#/parameters/rowFilter.microservice.date"},{"$ref":"#/parameters/rowFilter.microservice.name"},{"$ref":"#/parameters/rowFilter.microservice.version"},{"$ref":"#/parameters/rowFilter.microservice.description"},{"$ref":"#/parameters/rowFilter.microservice.classification_schema"},{"$ref":"#/parameters/rowFilter.microservice.type"},{"$ref":"#/parameters/rowFilter.microservice.deployment_format"},{"$ref":"#/parameters/rowFilter.microservice.deployment_data"},{"$ref":"#/parameters/rowFilter.microservice.configuration_data"},{"$ref":"#/parameters/rowFilter.microservice.mounted_shared_directories"},{"$ref":"#/parameters/rowFilter.microservice.recommended_number_of_gpus"},{"$ref":"#/parameters/rowFilter.microservice.recommended_gpu_ram"},{"$ref":"#/parameters/rowFilter.microservice.gpu_type"},{"$ref":"#/parameters/rowFilter.microservice.hpc_required"},{"$ref":"#/parameters/rowFilter.microservice.edge_type"},{"$ref":"#/parameters/rowFilter.microservice.recommended_ram"},{"$ref":"#/parameters/rowFilter.microservice.recommended_cpus"},{"$ref":"#/parameters/rowFilter.microservice.required_disk_space"},{"$ref":"#/parameters/rowFilter.microservice.os_arch"},{"$ref":"#/parameters/rowFilter.microservice.os_type"},{"$ref":"#/parameters/rowFilter.microservice.data_resource"},{"$ref":"#/parameters/rowFilter.microservice.model_types"},{"$ref":"#/parameters/rowFilter.microservice.model_recommended_auth_tools"},{"$ref":"#/parameters/rowFilter.microservice.parameters"},{"$ref":"#/parameters/rowFilter.microservice.metrics"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"206":{"description":"Partial Content"},"200":{"schema":{"items":{"$ref":"#/definitions/microservice"},"type":"array"},"description":"OK"}}},"post":{"tags":["microservice"],"parameters":[{"$ref":"#/parameters/body.microservice"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferReturn"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["microservice"],"parameters":[{"$ref":"#/parameters/rowFilter.microservice.id"},{"$ref":"#/parameters/rowFilter.microservice.author"},{"$ref":"#/parameters/rowFilter.microservice.provider"},{"$ref":"#/parameters/rowFilter.microservice.build"},{"$ref":"#/parameters/rowFilter.microservice.date"},{"$ref":"#/parameters/rowFilter.microservice.name"},{"$ref":"#/parameters/rowFilter.microservice.version"},{"$ref":"#/parameters/rowFilter.microservice.description"},{"$ref":"#/parameters/rowFilter.microservice.classification_schema"},{"$ref":"#/parameters/rowFilter.microservice.type"},{"$ref":"#/parameters/rowFilter.microservice.deployment_format"},{"$ref":"#/parameters/rowFilter.microservice.deployment_data"},{"$ref":"#/parameters/rowFilter.microservice.configuration_data"},{"$ref":"#/parameters/rowFilter.microservice.mounted_shared_directories"},{"$ref":"#/parameters/rowFilter.microservice.recommended_number_of_gpus"},{"$ref":"#/parameters/rowFilter.microservice.recommended_gpu_ram"},{"$ref":"#/parameters/rowFilter.microservice.gpu_type"},{"$ref":"#/parameters/rowFilter.microservice.hpc_required"},{"$ref":"#/parameters/rowFilter.microservice.edge_type"},{"$ref":"#/parameters/rowFilter.microservice.recommended_ram"},{"$ref":"#/parameters/rowFilter.microservice.recommended_cpus"},{"$ref":"#/parameters/rowFilter.microservice.required_disk_space"},{"$ref":"#/parameters/rowFilter.microservice.os_arch"},{"$ref":"#/parameters/rowFilter.microservice.os_type"},{"$ref":"#/parameters/rowFilter.microservice.data_resource"},{"$ref":"#/parameters/rowFilter.microservice.model_types"},{"$ref":"#/parameters/rowFilter.microservice.model_recommended_auth_tools"},{"$ref":"#/parameters/rowFilter.microservice.parameters"},{"$ref":"#/parameters/rowFilter.microservice.metrics"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["microservice"],"parameters":[{"$ref":"#/parameters/rowFilter.microservice.id"},{"$ref":"#/parameters/rowFilter.microservice.author"},{"$ref":"#/parameters/rowFilter.microservice.provider"},{"$ref":"#/parameters/rowFilter.microservice.build"},{"$ref":"#/parameters/rowFilter.microservice.date"},{"$ref":"#/parameters/rowFilter.microservice.name"},{"$ref":"#/parameters/rowFilter.microservice.version"},{"$ref":"#/parameters/rowFilter.microservice.description"},{"$ref":"#/parameters/rowFilter.microservice.classification_schema"},{"$ref":"#/parameters/rowFilter.microservice.type"},{"$ref":"#/parameters/rowFilter.microservice.deployment_format"},{"$ref":"#/parameters/rowFilter.microservice.deployment_data"},{"$ref":"#/parameters/rowFilter.microservice.configuration_data"},{"$ref":"#/parameters/rowFilter.microservice.mounted_shared_directories"},{"$ref":"#/parameters/rowFilter.microservice.recommended_number_of_gpus"},{"$ref":"#/parameters/rowFilter.microservice.recommended_gpu_ram"},{"$ref":"#/parameters/rowFilter.microservice.gpu_type"},{"$ref":"#/parameters/rowFilter.microservice.hpc_required"},{"$ref":"#/parameters/rowFilter.microservice.edge_type"},{"$ref":"#/parameters/rowFilter.microservice.recommended_ram"},{"$ref":"#/parameters/rowFilter.microservice.recommended_cpus"},{"$ref":"#/parameters/rowFilter.microservice.required_disk_space"},{"$ref":"#/parameters/rowFilter.microservice.os_arch"},{"$ref":"#/parameters/rowFilter.microservice.os_type"},{"$ref":"#/parameters/rowFilter.microservice.data_resource"},{"$ref":"#/parameters/rowFilter.microservice.model_types"},{"$ref":"#/parameters/rowFilter.microservice.model_recommended_auth_tools"},{"$ref":"#/parameters/rowFilter.microservice.parameters"},{"$ref":"#/parameters/rowFilter.microservice.metrics"},{"$ref":"#/parameters/body.microservice"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/model":{"get":{"tags":["model"],"parameters":[{"$ref":"#/parameters/rowFilter.model.id"},{"$ref":"#/parameters/rowFilter.model.author"},{"$ref":"#/parameters/rowFilter.model.provider"},{"$ref":"#/parameters/rowFilter.model.build"},{"$ref":"#/parameters/rowFilter.model.date"},{"$ref":"#/parameters/rowFilter.model.name"},{"$ref":"#/parameters/rowFilter.model.version"},{"$ref":"#/parameters/rowFilter.model.license"},{"$ref":"#/parameters/rowFilter.model.provider_contacts"},{"$ref":"#/parameters/rowFilter.model.marketplace_description"},{"$ref":"#/parameters/rowFilter.model.auth_tool"},{"$ref":"#/parameters/rowFilter.model.type"},{"$ref":"#/parameters/rowFilter.model.fidelity"},{"$ref":"#/parameters/rowFilter.model.repository_uri"},{"$ref":"#/parameters/rowFilter.model.path"},{"$ref":"#/parameters/rowFilter.model.filename"},{"$ref":"#/parameters/rowFilter.model.state_depend"},{"$ref":"#/parameters/rowFilter.model.inslots"},{"$ref":"#/parameters/rowFilter.model.outslots"},{"$ref":"#/parameters/rowFilter.model.os_arch"},{"$ref":"#/parameters/rowFilter.model.os_type"},{"$ref":"#/parameters/rowFilter.model.os_distribution"},{"$ref":"#/parameters/rowFilter.model.recommended_number_of_gpu_cores"},{"$ref":"#/parameters/rowFilter.model.minimum_number_of_gpu_cores"},{"$ref":"#/parameters/rowFilter.model.recommended_gpu_ram"},{"$ref":"#/parameters/rowFilter.model.minimum_gpu_ram"},{"$ref":"#/parameters/rowFilter.model.recommended_ram"},{"$ref":"#/parameters/rowFilter.model.minimum_ram"},{"$ref":"#/parameters/rowFilter.model.recommended_cpus"},{"$ref":"#/parameters/rowFilter.model.minimum_cpus"},{"$ref":"#/parameters/rowFilter.model.required_disk_space"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"206":{"description":"Partial Content"},"200":{"schema":{"items":{"$ref":"#/definitions/model"},"type":"array"},"description":"OK"}}},"post":{"tags":["model"],"parameters":[{"$ref":"#/parameters/body.model"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferReturn"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["model"],"parameters":[{"$ref":"#/parameters/rowFilter.model.id"},{"$ref":"#/parameters/rowFilter.model.author"},{"$ref":"#/parameters/rowFilter.model.provider"},{"$ref":"#/parameters/rowFilter.model.build"},{"$ref":"#/parameters/rowFilter.model.date"},{"$ref":"#/parameters/rowFilter.model.name"},{"$ref":"#/parameters/rowFilter.model.version"},{"$ref":"#/parameters/rowFilter.model.license"},{"$ref":"#/parameters/rowFilter.model.provider_contacts"},{"$ref":"#/parameters/rowFilter.model.marketplace_description"},{"$ref":"#/parameters/rowFilter.model.auth_tool"},{"$ref":"#/parameters/rowFilter.model.type"},{"$ref":"#/parameters/rowFilter.model.fidelity"},{"$ref":"#/parameters/rowFilter.model.repository_uri"},{"$ref":"#/parameters/rowFilter.model.path"},{"$ref":"#/parameters/rowFilter.model.filename"},{"$ref":"#/parameters/rowFilter.model.state_depend"},{"$ref":"#/parameters/rowFilter.model.inslots"},{"$ref":"#/parameters/rowFilter.model.outslots"},{"$ref":"#/parameters/rowFilter.model.os_arch"},{"$ref":"#/parameters/rowFilter.model.os_type"},{"$ref":"#/parameters/rowFilter.model.os_distribution"},{"$ref":"#/parameters/rowFilter.model.recommended_number_of_gpu_cores"},{"$ref":"#/parameters/rowFilter.model.minimum_number_of_gpu_cores"},{"$ref":"#/parameters/rowFilter.model.recommended_gpu_ram"},{"$ref":"#/parameters/rowFilter.model.minimum_gpu_ram"},{"$ref":"#/parameters/rowFilter.model.recommended_ram"},{"$ref":"#/parameters/rowFilter.model.minimum_ram"},{"$ref":"#/parameters/rowFilter.model.recommended_cpus"},{"$ref":"#/parameters/rowFilter.model.minimum_cpus"},{"$ref":"#/parameters/rowFilter.model.required_disk_space"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["model"],"parameters":[{"$ref":"#/parameters/rowFilter.model.id"},{"$ref":"#/parameters/rowFilter.model.author"},{"$ref":"#/parameters/rowFilter.model.provider"},{"$ref":"#/parameters/rowFilter.model.build"},{"$ref":"#/parameters/rowFilter.model.date"},{"$ref":"#/parameters/rowFilter.model.name"},{"$ref":"#/parameters/rowFilter.model.version"},{"$ref":"#/parameters/rowFilter.model.license"},{"$ref":"#/parameters/rowFilter.model.provider_contacts"},{"$ref":"#/parameters/rowFilter.model.marketplace_description"},{"$ref":"#/parameters/rowFilter.model.auth_tool"},{"$ref":"#/parameters/rowFilter.model.type"},{"$ref":"#/parameters/rowFilter.model.fidelity"},{"$ref":"#/parameters/rowFilter.model.repository_uri"},{"$ref":"#/parameters/rowFilter.model.path"},{"$ref":"#/parameters/rowFilter.model.filename"},{"$ref":"#/parameters/rowFilter.model.state_depend"},{"$ref":"#/parameters/rowFilter.model.inslots"},{"$ref":"#/parameters/rowFilter.model.outslots"},{"$ref":"#/parameters/rowFilter.model.os_arch"},{"$ref":"#/parameters/rowFilter.model.os_type"},{"$ref":"#/parameters/rowFilter.model.os_distribution"},{"$ref":"#/parameters/rowFilter.model.recommended_number_of_gpu_cores"},{"$ref":"#/parameters/rowFilter.model.minimum_number_of_gpu_cores"},{"$ref":"#/parameters/rowFilter.model.recommended_gpu_ram"},{"$ref":"#/parameters/rowFilter.model.minimum_gpu_ram"},{"$ref":"#/parameters/rowFilter.model.recommended_ram"},{"$ref":"#/parameters/rowFilter.model.minimum_ram"},{"$ref":"#/parameters/rowFilter.model.recommended_cpus"},{"$ref":"#/parameters/rowFilter.model.minimum_cpus"},{"$ref":"#/parameters/rowFilter.model.required_disk_space"},{"$ref":"#/parameters/body.model"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/table_array_list":{"get":{"tags":["table_array_list"],"parameters":[{"$ref":"#/parameters/rowFilter.table_array_list.table_catalog"},{"$ref":"#/parameters/rowFilter.table_array_list.table_schema"},{"$ref":"#/parameters/rowFilter.table_array_list.table_name"},{"$ref":"#/parameters/rowFilter.table_array_list.column_name"},{"$ref":"#/parameters/rowFilter.table_array_list.ordinal_position"},{"$ref":"#/parameters/rowFilter.table_array_list.column_default"},{"$ref":"#/parameters/rowFilter.table_array_list.is_nullable"},{"$ref":"#/parameters/rowFilter.table_array_list.data_type"},{"$ref":"#/parameters/rowFilter.table_array_list.character_maximum_length"},{"$ref":"#/parameters/rowFilter.table_array_list.character_octet_length"},{"$ref":"#/parameters/rowFilter.table_array_list.numeric_precision"},{"$ref":"#/parameters/rowFilter.table_array_list.numeric_precision_radix"},{"$ref":"#/parameters/rowFilter.table_array_list.numeric_scale"},{"$ref":"#/parameters/rowFilter.table_array_list.datetime_precision"},{"$ref":"#/parameters/rowFilter.table_array_list.interval_type"},{"$ref":"#/parameters/rowFilter.table_array_list.interval_precision"},{"$ref":"#/parameters/rowFilter.table_array_list.character_set_catalog"},{"$ref":"#/parameters/rowFilter.table_array_list.character_set_schema"},{"$ref":"#/parameters/rowFilter.table_array_list.character_set_name"},{"$ref":"#/parameters/rowFilter.table_array_list.collation_catalog"},{"$ref":"#/parameters/rowFilter.table_array_list.collation_schema"},{"$ref":"#/parameters/rowFilter.table_array_list.collation_name"},{"$ref":"#/parameters/rowFilter.table_array_list.domain_catalog"},{"$ref":"#/parameters/rowFilter.table_array_list.domain_schema"},{"$ref":"#/parameters/rowFilter.table_array_list.domain_name"},{"$ref":"#/parameters/rowFilter.table_array_list.udt_catalog"},{"$ref":"#/parameters/rowFilter.table_array_list.udt_schema"},{"$ref":"#/parameters/rowFilter.table_array_list.udt_name"},{"$ref":"#/parameters/rowFilter.table_array_list.scope_catalog"},{"$ref":"#/parameters/rowFilter.table_array_list.scope_schema"},{"$ref":"#/parameters/rowFilter.table_array_list.scope_name"},{"$ref":"#/parameters/rowFilter.table_array_list.maximum_cardinality"},{"$ref":"#/parameters/rowFilter.table_array_list.dtd_identifier"},{"$ref":"#/parameters/rowFilter.table_array_list.is_self_referencing"},{"$ref":"#/parameters/rowFilter.table_array_list.is_identity"},{"$ref":"#/parameters/rowFilter.table_array_list.identity_generation"},{"$ref":"#/parameters/rowFilter.table_array_list.identity_start"},{"$ref":"#/parameters/rowFilter.table_array_list.identity_increment"},{"$ref":"#/parameters/rowFilter.table_array_list.identity_maximum"},{"$ref":"#/parameters/rowFilter.table_array_list.identity_minimum"},{"$ref":"#/parameters/rowFilter.table_array_list.identity_cycle"},{"$ref":"#/parameters/rowFilter.table_array_list.is_generated"},{"$ref":"#/parameters/rowFilter.table_array_list.generation_expression"},{"$ref":"#/parameters/rowFilter.table_array_list.is_updatable"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"206":{"description":"Partial Content"},"200":{"schema":{"items":{"$ref":"#/definitions/table_array_list"},"type":"array"},"description":"OK"}}}},"/table_column_description":{"get":{"tags":["table_column_description"],"parameters":[{"$ref":"#/parameters/rowFilter.table_column_description.table_schema"},{"$ref":"#/parameters/rowFilter.table_column_description.table_name"},{"$ref":"#/parameters/rowFilter.table_column_description.column_name"},{"$ref":"#/parameters/rowFilter.table_column_description.description"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"206":{"description":"Partial Content"},"200":{"schema":{"items":{"$ref":"#/definitions/table_column_description"},"type":"array"},"description":"OK"}}}},"/udt_list":{"get":{"tags":["udt_list"],"parameters":[{"$ref":"#/parameters/rowFilter.udt_list.udt_name"},{"$ref":"#/parameters/rowFilter.udt_list.udt_field_name"},{"$ref":"#/parameters/rowFilter.udt_list.udt_field_data_type"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"206":{"description":"Partial Content"},"200":{"schema":{"items":{"$ref":"#/definitions/udt_list"},"type":"array"},"description":"OK"}}}}},"definitions":{"algorithm":{"required":["id","author","provider","build","date","name","description","classification_schema","type","list_of_microservices","deployment_mapping"],"properties":{"id":{"format":"uuid","type":"string","description":"Unique identifier of the asset.\n\n\nNote:\nThis is a Primary Key.<pk/>"},"author":{"format":"uuid","type":"string","description":"Unique identifier of the user who created this record\n"},"provider":{"format":"uuid","type":"string","description":"Legal entity who provides the asset (owner). It is the affiliation of the author by default.\n"},"build":{"format":"integer","type":"integer","description":"Build number, incremented automatically to provide versioning for the asset\n"},"date":{"format":"date","type":"string","description":"Date of asset registration.\n"},"name":{"format":"character varying","type":"string","description":"a human-readable name to ease identification and discoverability for human users\n"},"description":{"format":"character varying","type":"string","description":"a short, human-readable description of the Algorithm to aid a human user in analysing the Algorithm’s capabilities and its applicability to a certain problem\n"},"classification_schema":{"format":"public.classification_schema","type":"string","enum":["Simulation","ML","others"],"description":"the classification of the Algorithm, to describe the specialization area\n"},"type":{"format":"ARRAY","type":"string","description":"a detailed list of attributes to describe the Algorithm’s field of application\n"},"version":{"format":"character varying","type":"string","description":"the version, as defined by the provider\n"},"list_of_microservices":{"format":"ARRAY","type":"string","description":"a list of Microservice Asset IDs, which are contained in the algorithm\n"},"deployment_mapping":{"format":"json","type":"string","description":"a mapping specifying which microservice should run on which host. By default each microservice is assigned a respective host, but this behaviour is not always ideal (eg. when two or more Microservices may need to run on the same host)\n"}},"type":"object"},"asset":{"properties":{"table_name":{"format":"name","type":"string"}},"type":"object"},"asset_schema":{"properties":{"table_catalog":{"format":"name","type":"string"},"table_schema":{"format":"name","type":"string"},"table_name":{"format":"name","type":"string"},"column_name":{"format":"name","type":"string"},"ordinal_position":{"format":"integer","type":"integer"},"column_default":{"format":"character varying","type":"string"},"is_nullable":{"maxLength":3,"format":"character varying","type":"string"},"data_type":{"format":"character varying","type":"string"},"character_maximum_length":{"format":"integer","type":"integer"},"character_octet_length":{"format":"integer","type":"integer"},"numeric_precision":{"format":"integer","type":"integer"},"numeric_precision_radix":{"format":"integer","type":"integer"},"numeric_scale":{"format":"integer","type":"integer"},"datetime_precision":{"format":"integer","type":"integer"},"interval_type":{"format":"character varying","type":"string"},"interval_precision":{"format":"integer","type":"integer"},"character_set_catalog":{"format":"name","type":"string"},"character_set_schema":{"format":"name","type":"string"},"character_set_name":{"format":"name","type":"string"},"collation_catalog":{"format":"name","type":"string"},"collation_schema":{"format":"name","type":"string"},"collation_name":{"format":"name","type":"string"},"domain_catalog":{"format":"name","type":"string"},"domain_schema":{"format":"name","type":"string"},"domain_name":{"format":"name","type":"string"},"udt_catalog":{"format":"name","type":"string"},"udt_schema":{"format":"name","type":"string"},"udt_name":{"format":"name","type":"string"},"scope_catalog":{"format":"name","type":"string"},"scope_schema":{"format":"name","type":"string"},"scope_name":{"format":"name","type":"string"},"maximum_cardinality":{"format":"integer","type":"integer"},"dtd_identifier":{"format":"name","type":"string"},"is_self_referencing":{"maxLength":3,"format":"character varying","type":"string"},"is_identity":{"maxLength":3,"format":"character varying","type":"string"},"identity_generation":{"format":"character varying","type":"string"},"identity_start":{"format":"character varying","type":"string"},"identity_increment":{"format":"character varying","type":"string"},"identity_maximum":{"format":"character varying","type":"string"},"identity_minimum":{"format":"character varying","type":"string"},"identity_cycle":{"maxLength":3,"format":"character varying","type":"string"},"is_generated":{"format":"character varying","type":"string"},"generation_expression":{"format":"character varying","type":"string"},"is_updatable":{"maxLength":3,"format":"character varying","type":"string"}},"type":"object"},"asset_schema_beta":{"properties":{"table_name":{"format":"name","type":"string"},"column_name":{"format":"name","type":"string"},"description":{"format":"text","type":"string"},"is_nullable":{"maxLength":3,"format":"character varying","type":"string"},"data_type":{"format":"character varying","type":"string"},"enum_name":{"format":"name","type":"string"},"enum_values":{"format":"text","type":"string"},"udt_name":{"format":"text","type":"string"},"udt_field_name":{"format":"text","type":"string"},"udt_field_data_type":{"format":"text","type":"string"}},"type":"object"},"data":{"required":["id","author","provider","build","date","name","kind","direction","type","uri","auth_type"],"properties":{"id":{"format":"uuid","type":"string","description":"Unique identifier of the asset.\n\n\nNote:\nThis is a Primary Key.<pk/>"},"author":{"format":"uuid","type":"string","description":"Unique identifier of the user who created this record\n"},"provider":{"format":"uuid","type":"string","description":"Legal entity who provides the asset (owner). It is the affiliation of the author by default.\n"},"build":{"format":"integer","type":"integer","description":"Build number, incremented automatically to provide versioning for the asset\n"},"date":{"format":"date","type":"string","description":"Date of asset registration.\n"},"name":{"format":"character varying","type":"string","description":"Name of the data resource.\n"},"version":{"format":"character varying","type":"string","description":"Version of the data resource (not of the metadata), defined by the provider in the format of his/her choice (typically: major.minor.patch)\n"},"description":{"format":"character varying","type":"string","description":"Human readable description of the data resource characteristics, contents.\n"},"description_url":{"format":"public.url","type":"string","description":"More detailed specification of data source characteristics (doc, pdf, …)\n"},"size":{"format":"integer","type":"integer","description":"Estimated/exact size of data (e.g. file size, volume size, or message size); might be used to assess HW requirements (RAM, CPU). In bytes.\n"},"tags":{"format":"ARRAY","type":"string","description":"A list of tags freely added to help in searching/indexing (not limited to a basic set of tags, keywords)\n"},"kind":{"format":"public.kind","type":"string","enum":["FILE","DATABASE","STREAM"],"description":"Main category of the data resource (e.g. file/object storage, database management system, streaming broker). FILE can mean a single file or a folder.\n"},"direction":{"format":"public.direction","type":"string","enum":["SOURCE","SINK","BIDIRECTIONAL"],"description":"Direction of data flow (source: data provider, sink: data consumer/storage)\n"},"format":{"format":"ARRAY","type":"string","description":"Format/encoding of the data produced or consumed by the data resource as a MIME type (IETF RFC 6838 https://www.sitepoint.com/mime-types-complete-list/). More than one can appear here (remote directory with several files).\n"},"type":{"format":"character varying","type":"string","description":"The exact type of the data resource. Typically (but not always) corresponds to the scheme part (scheme://) of URI. E.g.: mysql, mqtt.\n"},"uri":{"format":"public.uri","type":"string","description":"Accessibility of the data resource, including host, port information, protocol, and other fields (path is protocol dependent, can be a topic name). GUI may show host, port, path separately. Hidden at search. Format: scheme://host:port/path.  Pseudo vars: SCHEME, HOST, PORT, PATH, QUERY, FRAGMENT.\n"},"auth_type":{"format":"ARRAY","type":"string","description":"One or more authentication types that can be accepted by the storage resource.\n"},"credentials":{"format":"character varying","type":"string","description":"Credentials (e.g. string/json, zip, config file). Its content (structure) depends on authentication type (e.g. token, username and password). OPEN means must not be filled here, but asked from user on startup.\n"},"aux_info":{"format":"json","type":"string","description":"List of key-value pais (JSON object/YAML dictionary) for additional specification of the data resource. New keys can be added on demand, a list of known keys is available.\n"},"schema":{"format":"character varying","type":"string","description":"Describes message internal structure, semantics, ontology. It can be any file (doc, rdf, owl, etc.). Asset Administration Shell, IEC 61360 - Common Data Dictionary, ...\n"},"schema_url":{"format":"public.url","type":"string","description":"URL to schema specification document (in some format, rdf, owl, xsd, …)\n"}},"type":"object"},"distinct_udt_list":{"properties":{"udt_name":{"format":"text","type":"string"}},"type":"object"},"enum_list":{"properties":{"enum_name":{"format":"name","type":"string"},"enum_values":{"format":"text","type":"string"}},"type":"object"},"ip_family":{"required":["id","created_at","version","author","manager","name"],"properties":{"id":{"format":"uuid","type":"string","description":"Unique identifier for the IP Fam.\n\n\nNote:\nThis is a Primary Key.<pk/>"},"created_at":{"format":"date","type":"string","description":"Date of creation\n"},"version":{"format":"integer","type":"integer","description":"Version number of the IP Family\n"},"author":{"format":"uuid","type":"string","description":"Identifier of the Author of the IP Family\n"},"manager":{"format":"uuid","type":"string","description":"Identifier of the Legal Entity managing the IP Family\n"},"name":{"format":"character varying","type":"string","description":"Technical Name of the IP Family\n"},"image":{"format":"character varying","type":"string","description":"Picture of the IP Family\n"},"model_no":{"format":"character varying","type":"string","description":"Number defined by the IP Man.\n"},"description":{"format":"character varying","type":"string","description":"Description of the IP Family\n"},"capacity":{"format":"character varying","type":"string","description":"Capacity of the IP Family\n"},"ip_man":{"format":"uuid","type":"string","description":"Identifier of the IP Manufacturer (Legal Entity)\n"}},"type":"object"},"ip_instance":{"required":["id","created_at","version","author","operator","ip_family","name"],"properties":{"id":{"format":"uuid","type":"string","description":"Unique identifier for the IP Inst.\n\n\nNote:\nThis is a Primary Key.<pk/>"},"created_at":{"format":"date","type":"string","description":"Date of creation\n"},"version":{"format":"integer","type":"integer","description":"Version number of the IP Instance\n"},"author":{"format":"uuid","type":"string","description":"Identifier of the Author of the IP Instance\n"},"operator":{"format":"uuid","type":"string","description":"Identifier of the Legal Entity operating the IP Instance\n"},"ip_family":{"format":"uuid","type":"string","description":"Reference to the IP Family\n"},"name":{"format":"character varying","type":"string","description":"Name of the IP Instance\n"},"image":{"format":"character varying","type":"string","description":"Picture of the IP Instance\n"},"serial_no":{"format":"character varying","type":"string","description":"Number defined by the IP Man.\n"},"description":{"format":"character varying","type":"string","description":"Description of the IP Instance\n"},"location":{"format":"character varying","type":"string","description":"Physical location of the IP Instance\n"}},"type":"object"},"ma_pair":{"required":["id","author","provider","build","date","licensor","derivation","name","scope","ip_family","m_asset","a_asset"],"properties":{"id":{"format":"uuid","type":"string","description":"Unique identifier of the asset.\n\n\nNote:\nThis is a Primary Key.<pk/>"},"author":{"format":"uuid","type":"string","description":"Unique identifier of the user who created this record\n"},"provider":{"format":"uuid","type":"string","description":"Legal entity who provides the asset (owner). It is the affiliation of the author by default.\n"},"build":{"format":"integer","type":"integer","description":"Build number, incremented automatically to provide versioning for the asset\n"},"date":{"format":"date","type":"string","description":"Date of asset registration.\n"},"version":{"format":"character varying","type":"string","description":"Version number of the MA Pair, defined by the provider\n"},"licensor":{"format":"uuid","type":"string","description":"Identifier of the Legal Entity licensing the MA Pair (NB: Entity for Licensor is referenced)\n"},"derivation":{"format":"uuid","type":"string","description":"In case of derivation, references to parent / child (optional)\n"},"name":{"format":"character varying","type":"string","description":"Short name to identify the MA Pair\n"},"scope":{"format":"character varying","type":"string","description":"Short description of the scope of the MA Pair (human readable)\n"},"ip_family":{"format":"uuid","type":"string","description":"Identifier of the IP Family the MA Pair is valid for\n"},"namespace":{"format":"uuid","type":"string","description":"Context to interpret the associated information (optional?)\n"},"m_asset":{"format":"uuid","type":"string","description":"Identifier of the Model Asset associated to the MA Pair (NB: The corresponding model file is indicated in Model metadata (first tab) as Model_URI and the corresponding zip file needs to be served to the Algorithm to evaluate the Model by the Microservice (MODEL_FILENAME))\n\n\nNote:\nThis is a Foreign Key to `microservice.id`.<fk table='microservice' column='id'/>"},"a_asset":{"format":"uuid","type":"string","description":"Identifiers of the Algorithm Asset associated to the MA Pair\n\n\nNote:\nThis is a Foreign Key to `algorithm.id`.<fk table='algorithm' column='id'/>"},"rules":{"format":"ARRAY","type":"string","description":"References to recommended Rules to be verified per Evaluation of the MA Pair\n"},"frequency":{"format":"integer","type":"integer","description":"Recommended number of evaluations conducted per hour for the MA Pair (optional)\n"},"payload":{"format":"json","type":"string","description":"User-defined key-value pairs: JSON string with additional information (optional)\n"}},"type":"object"},"microservice":{"required":["id","author","provider","build","date","name","description","classification_schema","type","deployment_format","deployment_data"],"properties":{"id":{"format":"uuid","type":"string","description":"Unique identifier of the asset.\n\nNote:\nThis is a Primary Key.<pk/>"},"author":{"format":"uuid","type":"string","description":"Unique identifier of the user who created this record."},"provider":{"format":"uuid","type":"string","description":"Legal entity who provides the asset (owner). It is the affiliation of the author by default."},"build":{"format":"integer","type":"integer","description":"Build number, incremented automatically to provide versioning for the asset."},"date":{"format":"date","type":"string","description":"Date of asset registration."},"name":{"format":"character varying","type":"string","description":"human readable short, yet descriptive name of the Microservice."},"version":{"format":"character varying","type":"string","description":"version as defined by the user."},"description":{"format":"character varying","type":"string","description":"human readable short description of the Microservice's capabilities."},"classification_schema":{"format":"public.classification_schema","type":"string","enum":["Simulation","ML","others"],"description":"fine-granular classification of the Microservice"},"type":{"format":"ARRAY","type":"string","description":"detailed type of the microservice, list of keywords"},"deployment_format":{"format":"public.deployment_format","type":"string","enum":["docker-compose","kubernetes-manifest"],"description":"identifier of the deployment environment required to deploy the Microservice's container"},"deployment_data":{"format":"json","type":"string","description":"JSON of docker-compose or kubernetes manifest required to run the container"},"configuration_data":{"format":"ARRAY","type":"string","description":"List of objects specifying configuration file(s) content required by the service"},"mounted_shared_directories":{"format":"character varying","type":"string","description":"A note for developers of co-operating Microservices. Directories that should be shared to the host where this microservice can find required inputs / store outputs"},"recommended_number_of_gpus":{"format":"integer","type":"integer","description":"recommended number of GPUs"},"recommended_gpu_ram":{"format":"integer","type":"integer","description":"recommended amount of GPU memory in GB"},"gpu_type":{"format":"character varying","type":"string","description":"a description of the type of GPUs, and further specifications, to allow the execution of the Microservice\n"},"hpc_required":{"format":"boolean","type":"boolean","description":"whether this Microservice requires an HPC environment to be executed efficiently\n"},"edge_type":{"format":"public.edge_type","type":"string","enum":["TPU (Google)","NPU (Qualcomm)","FPGA","NVIDIA Jetson AGX"],"description":"required type of edge device to allow the execution of the Microservice\n"},"recommended_ram":{"format":"integer","type":"integer","description":"recommended amount of memory in GB\n"},"recommended_cpus":{"format":"integer","type":"integer","description":"recommended number of CPU cores\n"},"required_disk_space":{"format":"integer","type":"integer","description":"required amount of disk space in GB\n"},"os_arch":{"format":"character varying","type":"string","description":"supported os architecture. Defaults to x86\n"},"os_type":{"format":"character varying","type":"string","description":"supported os type. Defaults to Linux\n"},"data_resource":{"format":"ARRAY","type":"string","description":"list of Data objects for each required data resource, specified using the \"DATA\" fields in the linked substructure\n"},"model_types":{"format":"ARRAY","type":"string","description":"list of supported Model types\n"},"model_recommended_auth_tools":{"format":"ARRAY","type":"string","description":"list of recommended AuthoringTools used to generate the Model\n"},"parameters":{"format":"ARRAY","type":"string","description":"list of Parameter objects for each possible parameters, to be specified before deployment\n"},"metrics":{"format":"ARRAY","type":"string","description":"list of Metric objects for each metric collected by the Microservice\n"}},"type":"object"},"model":{"required":["id","author","provider","build","date","name","repository_uri","path","filename"],"properties":{"id":{"format":"uuid","type":"string","description":"Unique identifier of the asset.\n\n\nNote:\nThis is a Primary Key.<pk/>"},"author":{"format":"uuid","type":"string","description":"Unique identifier of the user who created this record\n"},"provider":{"format":"uuid","type":"string","description":"Legal entity who provides the asset (owner). It is the affiliation of the author by default.\n"},"build":{"format":"integer","type":"integer","description":"Build number, incremented automatically to provide versioning for the asset\n"},"date":{"format":"date","type":"string","description":"Date of asset registration.\n"},"name":{"format":"character varying","type":"string","description":"Name of the model\n"},"version":{"format":"character varying","type":"string","description":"Version of the model, defined by the provider. \n"},"license":{"format":"character varying","type":"string","description":"License of the model.  Type tbd in SAD group\n"},"provider_contacts":{"format":"character varying","type":"string","description":"Dictionary with keys being phone, email, address - Type takes into account co-simulation models, for which solver info is mandatory (next slide)\n"},"marketplace_description":{"format":"character varying","type":"string","description":"Model tag description Additional info about model files (e.g. versioning, scope, i.e. what is the model used for, e.g. simulation, control, etc.) - Human readable marketplace description\n"},"auth_tool":{"format":"character varying","type":"string","description":"Authoring Tool used to create the model\n"},"type":{"format":"character varying","type":"string","description":"ML, LCA, 3D FEM and CFD, System simulation, discrete event simulation, co-simulation (it couples a model with specific algorithms) - The original term Path was proposed to be changed (SAD)\n"},"fidelity":{"format":"integer","type":"integer","description":"Error of the model’s prediction\n"},"repository_uri":{"format":"public.uri","type":"string","description":"Where the model file is stored (usually the DigitBrain certified external model repository). The path and model filename are not provided via this field.\n"},"path":{"format":"character varying","type":"string","description":"Path to the model file in the specified repository, not including the filename itself.\n"},"filename":{"format":"character varying","type":"string","description":"Name of the model file at the given path within the given repo, with a file extension if it exists.\n"},"state_depend":{"format":"boolean","type":"boolean","description":"stateful -> 1, stateless -> 0\n"},"inslots":{"format":"ARRAY","type":"string","description":"List of objects with values on which the model is evaluated (or parameters that might set before or during the evaluation) - Inputs and parameters together, although if needed we can still differentiate them internally in key field for each specific model.\n"},"outslots":{"format":"ARRAY","type":"string","description":"List of objects with values that the model approximates\n"},"os_arch":{"format":"character varying","type":"string","description":"OS architecture type (e.g. x86_64)\n"},"os_type":{"format":"character varying","type":"string","description":"OS type (e.g. Windows, Linux)\n"},"os_distribution":{"format":"character varying","type":"string","description":"OS distributun (e.g. Ubuntu, Fedora)\n"},"recommended_number_of_gpu_cores":{"format":"integer","type":"integer","description":"Recommended number of GPU cores\n"},"minimum_number_of_gpu_cores":{"format":"integer","type":"integer","description":"Minimum required number of GPU cores\n"},"recommended_gpu_ram":{"format":"integer","type":"integer","description":"Recommended GPU memory\n"},"minimum_gpu_ram":{"format":"integer","type":"integer","description":"Minimum required GPU memory\n"},"recommended_ram":{"format":"integer","type":"integer","description":"Recommended Memory\n"},"minimum_ram":{"format":"integer","type":"integer","description":"Minimum required memory\n"},"recommended_cpus":{"format":"integer","type":"integer","description":"Recommended number of CPU cores\n"},"minimum_cpus":{"format":"integer","type":"integer","description":"Minimum required number of CPU cores\n"},"required_disk_space":{"format":"integer","type":"integer","description":"Required amount of disk space in GB\n"}},"type":"object"},"table_array_list":{"properties":{"table_catalog":{"format":"name","type":"string"},"table_schema":{"format":"name","type":"string"},"table_name":{"format":"name","type":"string"},"column_name":{"format":"name","type":"string"},"ordinal_position":{"format":"integer","type":"integer"},"column_default":{"format":"character varying","type":"string"},"is_nullable":{"maxLength":3,"format":"character varying","type":"string"},"data_type":{"format":"character varying","type":"string"},"character_maximum_length":{"format":"integer","type":"integer"},"character_octet_length":{"format":"integer","type":"integer"},"numeric_precision":{"format":"integer","type":"integer"},"numeric_precision_radix":{"format":"integer","type":"integer"},"numeric_scale":{"format":"integer","type":"integer"},"datetime_precision":{"format":"integer","type":"integer"},"interval_type":{"format":"character varying","type":"string"},"interval_precision":{"format":"integer","type":"integer"},"character_set_catalog":{"format":"name","type":"string"},"character_set_schema":{"format":"name","type":"string"},"character_set_name":{"format":"name","type":"string"},"collation_catalog":{"format":"name","type":"string"},"collation_schema":{"format":"name","type":"string"},"collation_name":{"format":"name","type":"string"},"domain_catalog":{"format":"name","type":"string"},"domain_schema":{"format":"name","type":"string"},"domain_name":{"format":"name","type":"string"},"udt_catalog":{"format":"name","type":"string"},"udt_schema":{"format":"name","type":"string"},"udt_name":{"format":"name","type":"string"},"scope_catalog":{"format":"name","type":"string"},"scope_schema":{"format":"name","type":"string"},"scope_name":{"format":"name","type":"string"},"maximum_cardinality":{"format":"integer","type":"integer"},"dtd_identifier":{"format":"name","type":"string"},"is_self_referencing":{"maxLength":3,"format":"character varying","type":"string"},"is_identity":{"maxLength":3,"format":"character varying","type":"string"},"identity_generation":{"format":"character varying","type":"string"},"identity_start":{"format":"character varying","type":"string"},"identity_increment":{"format":"character varying","type":"string"},"identity_maximum":{"format":"character varying","type":"string"},"identity_minimum":{"format":"character varying","type":"string"},"identity_cycle":{"maxLength":3,"format":"character varying","type":"string"},"is_generated":{"format":"character varying","type":"string"},"generation_expression":{"format":"character varying","type":"string"},"is_updatable":{"maxLength":3,"format":"character varying","type":"string"}},"type":"object"},"table_column_description":{"properties":{"table_schema":{"format":"name","type":"string"},"table_name":{"format":"name","type":"string"},"column_name":{"format":"name","type":"string"},"description":{"format":"text","type":"string"}},"type":"object"},"udt_list":{"properties":{"udt_name":{"format":"text","type":"string"},"udt_field_name":{"format":"text","type":"string"},"udt_field_data_type":{"format":"text","type":"string"}},"type":"object"}},"parameters":{"preferParams":{"name":"Prefer","description":"Preference","required":false,"in":"header","type":"string","enum":["params=single-object"]},"preferReturn":{"name":"Prefer","description":"Preference","required":false,"in":"header","type":"string","enum":["return=representation","return=minimal","return=none"]},"preferCount":{"name":"Prefer","description":"Preference","required":false,"in":"header","type":"string","enum":["count=none"]},"select":{"name":"select","description":"Filtering Columns","required":false,"in":"query","type":"string"},"on_conflict":{"name":"on_conflict","description":"On Conflict","required":false,"in":"query","type":"string"},"order":{"name":"order","description":"Ordering","required":false,"in":"query","type":"string"},"range":{"name":"Range","description":"Limiting and Pagination","required":false,"in":"header","type":"string"},"rangeUnit":{"name":"Range-Unit","description":"Limiting and Pagination","required":false,"default":"items","in":"header","type":"string"},"offset":{"name":"offset","description":"Limiting and Pagination","required":false,"in":"query","type":"string"},"limit":{"name":"limit","description":"Limiting and Pagination","required":false,"in":"query","type":"string"},"body.algorithm":{"name":"algorithm","description":"algorithm","required":false,"schema":{"$ref":"#/definitions/algorithm"},"in":"body"},"rowFilter.algorithm.id":{"name":"id","description":"Unique identifier of the asset.\n","required":false,"format":"uuid","in":"query","type":"string"},"rowFilter.algorithm.author":{"name":"author","description":"Unique identifier of the user who created this record\n","required":false,"format":"uuid","in":"query","type":"string"},"rowFilter.algorithm.provider":{"name":"provider","description":"Legal entity who provides the asset (owner). It is the affiliation of the author by default.\n","required":false,"format":"uuid","in":"query","type":"string"},"rowFilter.algorithm.build":{"name":"build","description":"Build number, incremented automatically to provide versioning for the asset\n","required":false,"format":"integer","in":"query","type":"string"},"rowFilter.algorithm.date":{"name":"date","description":"Date of asset registration.\n","required":false,"format":"date","in":"query","type":"string"},"rowFilter.algorithm.name":{"name":"name","description":"a human-readable name to ease identification and discoverability for human users\n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.algorithm.description":{"name":"description","description":"a short, human-readable description of the Algorithm to aid a human user in analysing the Algorithm’s capabilities and its applicability to a certain problem\n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.algorithm.classification_schema":{"name":"classification_schema","description":"the classification of the Algorithm, to describe the specialization area\n","required":false,"format":"public.classification_schema","in":"query","type":"string"},"rowFilter.algorithm.type":{"name":"type","description":"a detailed list of attributes to describe the Algorithm’s field of application\n","required":false,"format":"ARRAY","in":"query","type":"string"},"rowFilter.algorithm.version":{"name":"version","description":"the version, as defined by the provider\n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.algorithm.list_of_microservices":{"name":"list_of_microservices","description":"a list of Microservice Asset IDs, which are contained in the algorithm\n","required":false,"format":"ARRAY","in":"query","type":"string"},"rowFilter.algorithm.deployment_mapping":{"name":"deployment_mapping","description":"a mapping specifying which microservice should run on which host. By default each microservice is assigned a respective host, but this behaviour is not always ideal (eg. when two or more Microservices may need to run on the same host)\n","required":false,"format":"json","in":"query","type":"string"},"body.asset":{"name":"asset","description":"asset","required":false,"schema":{"$ref":"#/definitions/asset"},"in":"body"},"rowFilter.asset.table_name":{"name":"table_name","required":false,"format":"name","in":"query","type":"string"},"body.asset_schema":{"name":"asset_schema","description":"asset_schema","required":false,"schema":{"$ref":"#/definitions/asset_schema"},"in":"body"},"rowFilter.asset_schema.table_catalog":{"name":"table_catalog","required":false,"format":"name","in":"query","type":"string"},"rowFilter.asset_schema.table_schema":{"name":"table_schema","required":false,"format":"name","in":"query","type":"string"},"rowFilter.asset_schema.table_name":{"name":"table_name","required":false,"format":"name","in":"query","type":"string"},"rowFilter.asset_schema.column_name":{"name":"column_name","required":false,"format":"name","in":"query","type":"string"},"rowFilter.asset_schema.ordinal_position":{"name":"ordinal_position","required":false,"format":"integer","in":"query","type":"string"},"rowFilter.asset_schema.column_default":{"name":"column_default","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.asset_schema.is_nullable":{"name":"is_nullable","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.asset_schema.data_type":{"name":"data_type","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.asset_schema.character_maximum_length":{"name":"character_maximum_length","required":false,"format":"integer","in":"query","type":"string"},"rowFilter.asset_schema.character_octet_length":{"name":"character_octet_length","required":false,"format":"integer","in":"query","type":"string"},"rowFilter.asset_schema.numeric_precision":{"name":"numeric_precision","required":false,"format":"integer","in":"query","type":"string"},"rowFilter.asset_schema.numeric_precision_radix":{"name":"numeric_precision_radix","required":false,"format":"integer","in":"query","type":"string"},"rowFilter.asset_schema.numeric_scale":{"name":"numeric_scale","required":false,"format":"integer","in":"query","type":"string"},"rowFilter.asset_schema.datetime_precision":{"name":"datetime_precision","required":false,"format":"integer","in":"query","type":"string"},"rowFilter.asset_schema.interval_type":{"name":"interval_type","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.asset_schema.interval_precision":{"name":"interval_precision","required":false,"format":"integer","in":"query","type":"string"},"rowFilter.asset_schema.character_set_catalog":{"name":"character_set_catalog","required":false,"format":"name","in":"query","type":"string"},"rowFilter.asset_schema.character_set_schema":{"name":"character_set_schema","required":false,"format":"name","in":"query","type":"string"},"rowFilter.asset_schema.character_set_name":{"name":"character_set_name","required":false,"format":"name","in":"query","type":"string"},"rowFilter.asset_schema.collation_catalog":{"name":"collation_catalog","required":false,"format":"name","in":"query","type":"string"},"rowFilter.asset_schema.collation_schema":{"name":"collation_schema","required":false,"format":"name","in":"query","type":"string"},"rowFilter.asset_schema.collation_name":{"name":"collation_name","required":false,"format":"name","in":"query","type":"string"},"rowFilter.asset_schema.domain_catalog":{"name":"domain_catalog","required":false,"format":"name","in":"query","type":"string"},"rowFilter.asset_schema.domain_schema":{"name":"domain_schema","required":false,"format":"name","in":"query","type":"string"},"rowFilter.asset_schema.domain_name":{"name":"domain_name","required":false,"format":"name","in":"query","type":"string"},"rowFilter.asset_schema.udt_catalog":{"name":"udt_catalog","required":false,"format":"name","in":"query","type":"string"},"rowFilter.asset_schema.udt_schema":{"name":"udt_schema","required":false,"format":"name","in":"query","type":"string"},"rowFilter.asset_schema.udt_name":{"name":"udt_name","required":false,"format":"name","in":"query","type":"string"},"rowFilter.asset_schema.scope_catalog":{"name":"scope_catalog","required":false,"format":"name","in":"query","type":"string"},"rowFilter.asset_schema.scope_schema":{"name":"scope_schema","required":false,"format":"name","in":"query","type":"string"},"rowFilter.asset_schema.scope_name":{"name":"scope_name","required":false,"format":"name","in":"query","type":"string"},"rowFilter.asset_schema.maximum_cardinality":{"name":"maximum_cardinality","required":false,"format":"integer","in":"query","type":"string"},"rowFilter.asset_schema.dtd_identifier":{"name":"dtd_identifier","required":false,"format":"name","in":"query","type":"string"},"rowFilter.asset_schema.is_self_referencing":{"name":"is_self_referencing","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.asset_schema.is_identity":{"name":"is_identity","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.asset_schema.identity_generation":{"name":"identity_generation","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.asset_schema.identity_start":{"name":"identity_start","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.asset_schema.identity_increment":{"name":"identity_increment","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.asset_schema.identity_maximum":{"name":"identity_maximum","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.asset_schema.identity_minimum":{"name":"identity_minimum","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.asset_schema.identity_cycle":{"name":"identity_cycle","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.asset_schema.is_generated":{"name":"is_generated","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.asset_schema.generation_expression":{"name":"generation_expression","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.asset_schema.is_updatable":{"name":"is_updatable","required":false,"format":"character varying","in":"query","type":"string"},"body.asset_schema_beta":{"name":"asset_schema_beta","description":"asset_schema_beta","required":false,"schema":{"$ref":"#/definitions/asset_schema_beta"},"in":"body"},"rowFilter.asset_schema_beta.table_name":{"name":"table_name","required":false,"format":"name","in":"query","type":"string"},"rowFilter.asset_schema_beta.column_name":{"name":"column_name","required":false,"format":"name","in":"query","type":"string"},"rowFilter.asset_schema_beta.description":{"name":"description","required":false,"format":"text","in":"query","type":"string"},"rowFilter.asset_schema_beta.is_nullable":{"name":"is_nullable","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.asset_schema_beta.data_type":{"name":"data_type","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.asset_schema_beta.enum_name":{"name":"enum_name","required":false,"format":"name","in":"query","type":"string"},"rowFilter.asset_schema_beta.enum_values":{"name":"enum_values","required":false,"format":"text","in":"query","type":"string"},"rowFilter.asset_schema_beta.udt_name":{"name":"udt_name","required":false,"format":"text","in":"query","type":"string"},"rowFilter.asset_schema_beta.udt_field_name":{"name":"udt_field_name","required":false,"format":"text","in":"query","type":"string"},"rowFilter.asset_schema_beta.udt_field_data_type":{"name":"udt_field_data_type","required":false,"format":"text","in":"query","type":"string"},"body.data":{"name":"data","description":"data","required":false,"schema":{"$ref":"#/definitions/data"},"in":"body"},"rowFilter.data.id":{"name":"id","description":"Unique identifier of the asset.\n","required":false,"format":"uuid","in":"query","type":"string"},"rowFilter.data.author":{"name":"author","description":"Unique identifier of the user who created this record\n","required":false,"format":"uuid","in":"query","type":"string"},"rowFilter.data.provider":{"name":"provider","description":"Legal entity who provides the asset (owner). It is the affiliation of the author by default.\n","required":false,"format":"uuid","in":"query","type":"string"},"rowFilter.data.build":{"name":"build","description":"Build number, incremented automatically to provide versioning for the asset\n","required":false,"format":"integer","in":"query","type":"string"},"rowFilter.data.date":{"name":"date","description":"Date of asset registration.\n","required":false,"format":"date","in":"query","type":"string"},"rowFilter.data.name":{"name":"name","description":"Name of the data resource.\n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.data.version":{"name":"version","description":"Version of the data resource (not of the metadata), defined by the provider in the format of his/her choice (typically: major.minor.patch)\n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.data.description":{"name":"description","description":"Human readable description of the data resource characteristics, contents.\n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.data.description_url":{"name":"description_url","description":"More detailed specification of data source characteristics (doc, pdf, …)\n","required":false,"format":"public.url","in":"query","type":"string"},"rowFilter.data.size":{"name":"size","description":"Estimated/exact size of data (e.g. file size, volume size, or message size); might be used to assess HW requirements (RAM, CPU). In bytes.\n","required":false,"format":"integer","in":"query","type":"string"},"rowFilter.data.tags":{"name":"tags","description":"A list of tags freely added to help in searching/indexing (not limited to a basic set of tags, keywords)\n","required":false,"format":"ARRAY","in":"query","type":"string"},"rowFilter.data.kind":{"name":"kind","description":"Main category of the data resource (e.g. file/object storage, database management system, streaming broker). FILE can mean a single file or a folder.\n","required":false,"format":"public.kind","in":"query","type":"string"},"rowFilter.data.direction":{"name":"direction","description":"Direction of data flow (source: data provider, sink: data consumer/storage)\n","required":false,"format":"public.direction","in":"query","type":"string"},"rowFilter.data.format":{"name":"format","description":"Format/encoding of the data produced or consumed by the data resource as a MIME type (IETF RFC 6838 https://www.sitepoint.com/mime-types-complete-list/). More than one can appear here (remote directory with several files).\n","required":false,"format":"ARRAY","in":"query","type":"string"},"rowFilter.data.type":{"name":"type","description":"The exact type of the data resource. Typically (but not always) corresponds to the scheme part (scheme://) of URI. E.g.: mysql, mqtt.\n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.data.uri":{"name":"uri","description":"Accessibility of the data resource, including host, port information, protocol, and other fields (path is protocol dependent, can be a topic name). GUI may show host, port, path separately. Hidden at search. Format: scheme://host:port/path.  Pseudo vars: SCHEME, HOST, PORT, PATH, QUERY, FRAGMENT.\n","required":false,"format":"public.uri","in":"query","type":"string"},"rowFilter.data.auth_type":{"name":"auth_type","description":"One or more authentication types that can be accepted by the storage resource.\n","required":false,"format":"ARRAY","in":"query","type":"string"},"rowFilter.data.credentials":{"name":"credentials","description":"Credentials (e.g. string/json, zip, config file). Its content (structure) depends on authentication type (e.g. token, username and password). OPEN means must not be filled here, but asked from user on startup.\n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.data.aux_info":{"name":"aux_info","description":"List of key-value pais (JSON object/YAML dictionary) for additional specification of the data resource. New keys can be added on demand, a list of known keys is available.\n","required":false,"format":"json","in":"query","type":"string"},"rowFilter.data.schema":{"name":"schema","description":"Describes message internal structure, semantics, ontology. It can be any file (doc, rdf, owl, etc.). Asset Administration Shell, IEC 61360 - Common Data Dictionary, ...\n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.data.schema_url":{"name":"schema_url","description":"URL to schema specification document (in some format, rdf, owl, xsd, …)\n","required":false,"format":"public.url","in":"query","type":"string"},"body.distinct_udt_list":{"name":"distinct_udt_list","description":"distinct_udt_list","required":false,"schema":{"$ref":"#/definitions/distinct_udt_list"},"in":"body"},"rowFilter.distinct_udt_list.udt_name":{"name":"udt_name","required":false,"format":"text","in":"query","type":"string"},"body.enum_list":{"name":"enum_list","description":"enum_list","required":false,"schema":{"$ref":"#/definitions/enum_list"},"in":"body"},"rowFilter.enum_list.enum_name":{"name":"enum_name","required":false,"format":"name","in":"query","type":"string"},"rowFilter.enum_list.enum_values":{"name":"enum_values","required":false,"format":"text","in":"query","type":"string"},"body.ip_family":{"name":"ip_family","description":"ip_family","required":false,"schema":{"$ref":"#/definitions/ip_family"},"in":"body"},"rowFilter.ip_family.id":{"name":"id","description":"Unique identifier for the IP Fam.\n","required":false,"format":"uuid","in":"query","type":"string"},"rowFilter.ip_family.created_at":{"name":"created_at","description":"Date of creation\n","required":false,"format":"date","in":"query","type":"string"},"rowFilter.ip_family.version":{"name":"version","description":"Version number of the IP Family\n","required":false,"format":"integer","in":"query","type":"string"},"rowFilter.ip_family.author":{"name":"author","description":"Identifier of the Author of the IP Family\n","required":false,"format":"uuid","in":"query","type":"string"},"rowFilter.ip_family.manager":{"name":"manager","description":"Identifier of the Legal Entity managing the IP Family\n","required":false,"format":"uuid","in":"query","type":"string"},"rowFilter.ip_family.name":{"name":"name","description":"Technical Name of the IP Family\n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.ip_family.image":{"name":"image","description":"Picture of the IP Family\n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.ip_family.model_no":{"name":"model_no","description":"Number defined by the IP Man.\n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.ip_family.description":{"name":"description","description":"Description of the IP Family\n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.ip_family.capacity":{"name":"capacity","description":"Capacity of the IP Family\n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.ip_family.ip_man":{"name":"ip_man","description":"Identifier of the IP Manufacturer (Legal Entity)\n","required":false,"format":"uuid","in":"query","type":"string"},"body.ip_instance":{"name":"ip_instance","description":"ip_instance","required":false,"schema":{"$ref":"#/definitions/ip_instance"},"in":"body"},"rowFilter.ip_instance.id":{"name":"id","description":"Unique identifier for the IP Inst.\n","required":false,"format":"uuid","in":"query","type":"string"},"rowFilter.ip_instance.created_at":{"name":"created_at","description":"Date of creation\n","required":false,"format":"date","in":"query","type":"string"},"rowFilter.ip_instance.version":{"name":"version","description":"Version number of the IP Instance\n","required":false,"format":"integer","in":"query","type":"string"},"rowFilter.ip_instance.author":{"name":"author","description":"Identifier of the Author of the IP Instance\n","required":false,"format":"uuid","in":"query","type":"string"},"rowFilter.ip_instance.operator":{"name":"operator","description":"Identifier of the Legal Entity operating the IP Instance\n","required":false,"format":"uuid","in":"query","type":"string"},"rowFilter.ip_instance.ip_family":{"name":"ip_family","description":"Reference to the IP Family\n","required":false,"format":"uuid","in":"query","type":"string"},"rowFilter.ip_instance.name":{"name":"name","description":"Name of the IP Instance\n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.ip_instance.image":{"name":"image","description":"Picture of the IP Instance\n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.ip_instance.serial_no":{"name":"serial_no","description":"Number defined by the IP Man.\n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.ip_instance.description":{"name":"description","description":"Description of the IP Instance\n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.ip_instance.location":{"name":"location","description":"Physical location of the IP Instance\n","required":false,"format":"character varying","in":"query","type":"string"},"body.ma_pair":{"name":"ma_pair","description":"ma_pair","required":false,"schema":{"$ref":"#/definitions/ma_pair"},"in":"body"},"rowFilter.ma_pair.id":{"name":"id","description":"Unique identifier of the asset.\n","required":false,"format":"uuid","in":"query","type":"string"},"rowFilter.ma_pair.author":{"name":"author","description":"Unique identifier of the user who created this record\n","required":false,"format":"uuid","in":"query","type":"string"},"rowFilter.ma_pair.provider":{"name":"provider","description":"Legal entity who provides the asset (owner). It is the affiliation of the author by default.\n","required":false,"format":"uuid","in":"query","type":"string"},"rowFilter.ma_pair.build":{"name":"build","description":"Build number, incremented automatically to provide versioning for the asset\n","required":false,"format":"integer","in":"query","type":"string"},"rowFilter.ma_pair.date":{"name":"date","description":"Date of asset registration.\n","required":false,"format":"date","in":"query","type":"string"},"rowFilter.ma_pair.version":{"name":"version","description":"Version number of the MA Pair, defined by the provider\n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.ma_pair.licensor":{"name":"licensor","description":"Identifier of the Legal Entity licensing the MA Pair (NB: Entity for Licensor is referenced)\n","required":false,"format":"uuid","in":"query","type":"string"},"rowFilter.ma_pair.derivation":{"name":"derivation","description":"In case of derivation, references to parent / child (optional)\n","required":false,"format":"uuid","in":"query","type":"string"},"rowFilter.ma_pair.name":{"name":"name","description":"Short name to identify the MA Pair\n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.ma_pair.scope":{"name":"scope","description":"Short description of the scope of the MA Pair (human readable)\n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.ma_pair.ip_family":{"name":"ip_family","description":"Identifier of the IP Family the MA Pair is valid for\n","required":false,"format":"uuid","in":"query","type":"string"},"rowFilter.ma_pair.namespace":{"name":"namespace","description":"Context to interpret the associated information (optional?)\n","required":false,"format":"uuid","in":"query","type":"string"},"rowFilter.ma_pair.m_asset":{"name":"m_asset","description":"Identifier of the Model Asset associated to the MA Pair (NB: The corresponding model file is indicated in Model metadata (first tab) as Model_URI and the corresponding zip file needs to be served to the Algorithm to evaluate the Model by the Microservice (MODEL_FILENAME))\n","required":false,"format":"uuid","in":"query","type":"string"},"rowFilter.ma_pair.a_asset":{"name":"a_asset","description":"Identifiers of the Algorithm Asset associated to the MA Pair\n","required":false,"format":"uuid","in":"query","type":"string"},"rowFilter.ma_pair.rules":{"name":"rules","description":"References to recommended Rules to be verified per Evaluation of the MA Pair\n","required":false,"format":"ARRAY","in":"query","type":"string"},"rowFilter.ma_pair.frequency":{"name":"frequency","description":"Recommended number of evaluations conducted per hour for the MA Pair (optional)\n","required":false,"format":"integer","in":"query","type":"string"},"rowFilter.ma_pair.payload":{"name":"payload","description":"User-defined key-value pairs: JSON string with additional information (optional)\n","required":false,"format":"json","in":"query","type":"string"},"body.microservice":{"name":"microservice","description":"microservice","required":false,"schema":{"$ref":"#/definitions/microservice"},"in":"body"},"rowFilter.microservice.id":{"name":"id","description":"Unique identifier of the asset.","required":false,"format":"uuid","in":"query","type":"string"},"rowFilter.microservice.author":{"name":"author","description":"Unique identifier of the user who created this record.","required":false,"format":"uuid","in":"query","type":"string"},"rowFilter.microservice.provider":{"name":"provider","description":"Legal entity who provides the asset (owner). It is the affiliation of the author by default.","required":false,"format":"uuid","in":"query","type":"string"},"rowFilter.microservice.build":{"name":"build","description":"Build number, incremented automatically to provide versioning for the asset.","required":false,"format":"integer","in":"query","type":"string"},"rowFilter.microservice.date":{"name":"date","description":"Date of asset registration.","required":false,"format":"date","in":"query","type":"string"},"rowFilter.microservice.name":{"name":"name","description":"human readable short, yet descriptive name of the Microservice.","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.microservice.version":{"name":"version","description":"version as defined by the user.","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.microservice.description":{"name":"description","description":"human readable short description of the Microservice's capabilities.","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.microservice.classification_schema":{"name":"classification_schema","description":"fine-granular classification of the Microservice","required":false,"format":"public.classification_schema","in":"query","type":"string"},"rowFilter.microservice.type":{"name":"type","description":"detailed type of the microservice, list of keywords","required":false,"format":"ARRAY","in":"query","type":"string"},"rowFilter.microservice.deployment_format":{"name":"deployment_format","description":"identifier of the deployment environment required to deploy the Microservice's container","required":false,"format":"public.deployment_format","in":"query","type":"string"},"rowFilter.microservice.deployment_data":{"name":"deployment_data","description":"JSON of docker-compose or kubernetes manifest required to run the container","required":false,"format":"json","in":"query","type":"string"},"rowFilter.microservice.configuration_data":{"name":"configuration_data","description":"List of objects specifying configuration file(s) content required by the service","required":false,"format":"ARRAY","in":"query","type":"string"},"rowFilter.microservice.mounted_shared_directories":{"name":"mounted_shared_directories","description":"A note for developers of co-operating Microservices. Directories that should be shared to the host where this microservice can find required inputs / store outputs","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.microservice.recommended_number_of_gpus":{"name":"recommended_number_of_gpus","description":"recommended number of GPUs","required":false,"format":"integer","in":"query","type":"string"},"rowFilter.microservice.recommended_gpu_ram":{"name":"recommended_gpu_ram","description":"recommended amount of GPU memory in GB","required":false,"format":"integer","in":"query","type":"string"},"rowFilter.microservice.gpu_type":{"name":"gpu_type","description":"a description of the type of GPUs, and further specifications, to allow the execution of the Microservice\n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.microservice.hpc_required":{"name":"hpc_required","description":"whether this Microservice requires an HPC environment to be executed efficiently\n","required":false,"format":"boolean","in":"query","type":"string"},"rowFilter.microservice.edge_type":{"name":"edge_type","description":"required type of edge device to allow the execution of the Microservice\n","required":false,"format":"public.edge_type","in":"query","type":"string"},"rowFilter.microservice.recommended_ram":{"name":"recommended_ram","description":"recommended amount of memory in GB\n","required":false,"format":"integer","in":"query","type":"string"},"rowFilter.microservice.recommended_cpus":{"name":"recommended_cpus","description":"recommended number of CPU cores\n","required":false,"format":"integer","in":"query","type":"string"},"rowFilter.microservice.required_disk_space":{"name":"required_disk_space","description":"required amount of disk space in GB\n","required":false,"format":"integer","in":"query","type":"string"},"rowFilter.microservice.os_arch":{"name":"os_arch","description":"supported os architecture. Defaults to x86\n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.microservice.os_type":{"name":"os_type","description":"supported os type. Defaults to Linux\n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.microservice.data_resource":{"name":"data_resource","description":"list of Data objects for each required data resource, specified using the \"DATA\" fields in the linked substructure\n","required":false,"format":"ARRAY","in":"query","type":"string"},"rowFilter.microservice.model_types":{"name":"model_types","description":"list of supported Model types\n","required":false,"format":"ARRAY","in":"query","type":"string"},"rowFilter.microservice.model_recommended_auth_tools":{"name":"model_recommended_auth_tools","description":"list of recommended AuthoringTools used to generate the Model\n","required":false,"format":"ARRAY","in":"query","type":"string"},"rowFilter.microservice.parameters":{"name":"parameters","description":"list of Parameter objects for each possible parameters, to be specified before deployment\n","required":false,"format":"ARRAY","in":"query","type":"string"},"rowFilter.microservice.metrics":{"name":"metrics","description":"list of Metric objects for each metric collected by the Microservice\n","required":false,"format":"ARRAY","in":"query","type":"string"},"body.model":{"name":"model","description":"model","required":false,"schema":{"$ref":"#/definitions/model"},"in":"body"},"rowFilter.model.id":{"name":"id","description":"Unique identifier of the asset.\n","required":false,"format":"uuid","in":"query","type":"string"},"rowFilter.model.author":{"name":"author","description":"Unique identifier of the user who created this record\n","required":false,"format":"uuid","in":"query","type":"string"},"rowFilter.model.provider":{"name":"provider","description":"Legal entity who provides the asset (owner). It is the affiliation of the author by default.\n","required":false,"format":"uuid","in":"query","type":"string"},"rowFilter.model.build":{"name":"build","description":"Build number, incremented automatically to provide versioning for the asset\n","required":false,"format":"integer","in":"query","type":"string"},"rowFilter.model.date":{"name":"date","description":"Date of asset registration.\n","required":false,"format":"date","in":"query","type":"string"},"rowFilter.model.name":{"name":"name","description":"Name of the model\n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.model.version":{"name":"version","description":"Version of the model, defined by the provider. \n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.model.license":{"name":"license","description":"License of the model.  Type tbd in SAD group\n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.model.provider_contacts":{"name":"provider_contacts","description":"Dictionary with keys being phone, email, address - Type takes into account co-simulation models, for which solver info is mandatory (next slide)\n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.model.marketplace_description":{"name":"marketplace_description","description":"Model tag description Additional info about model files (e.g. versioning, scope, i.e. what is the model used for, e.g. simulation, control, etc.) - Human readable marketplace description\n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.model.auth_tool":{"name":"auth_tool","description":"Authoring Tool used to create the model\n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.model.type":{"name":"type","description":"ML, LCA, 3D FEM and CFD, System simulation, discrete event simulation, co-simulation (it couples a model with specific algorithms) - The original term Path was proposed to be changed (SAD)\n","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.model.fidelity":{"name":"fidelity","de
[...]
